.DS_Store
node_modules
dist
coverage
.env
*.log
.cypress-cache
.husky/_
NUL
.zip
# Angular / build
dist/
.angular/
coverage/
*.tsbuildinfo

# Node
node_modules/
npm-debug.log*
yarn-debug.log*