@use '@angular/material' as mat;

// Define a light theme (v20 API)
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    //tertiary: mat.$pink-palette
  ),
  typography: (),
  density: (scale: 0)
));

// Include Material core styles once
@include mat.core();

// Apply the theme to :root (CSS variables + component tokens)
:root {
  @include mat.all-component-themes($theme);
}
// Optionally, you can also apply the theme to body for non-CSS variable support
body {
  @include mat.all-component-themes($theme);
}
